* {
    margin: 0px;
    padding: 0px;
    font-family: "Lucida Console", "Courier New", monospace;
    box-sizing:border-box;
}

body::after{
	content:"";
	background:url(./safe-passwd.png);
	opacity:0.05;
	top:0;
	left:0;
	bottom:0;
	right:0;
	position:absolute;
	z-index:-1;
	background-repeat:no-repeat;
	background-position:center;
	background-size:30vh;
}

/**/
.list {
    font-family: Arial, Helvetica, sans-serif;
    /*border-collapse: collapse;*/
    width: 100%;
  }
  
  .list td, .list th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .list tr:nth-child(even){background-color: #f2f2f2;}
  
  .list tr:hover {background-color: #ddd;}
  
  .list th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

/**/
.addnew{
    position: absolute;
    right:9px;
    bottom:9px;
}

.circle {
  border-radius: 100%;
  width: 40px;
  height: 40px; 
  background: #04AA6D;
  display:inline-block;
  line-height:48px;
  vertical-align:center;
  text-align:center;
  color:#ffffff;
  text-decoration: none;
  font-size: 45px;
}

/**/
.search{
  width: 100%;
  padding: 10px;
}

.hide{
  display: none;
}

.w25p{
  width: 25%;
}

/**/
.copy{
  cursor: copy;
}

.inpts {
  width: 80%;
  padding: 10px;
}